.grogu_button{
  padding: 1.5rem 4rem;
  letter-spacing: .22px;
  position: relative;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd7e37;
  border: 2px solid #fd7e37;
  border-radius: 2.5rem;
}

.grogu_button:hover{
  background-color: #fd7e37;
  color: white;
  transition: .5s;
}